@import "./base";
@import "./notify";
//@import "./icons";

@mixin placeholder {
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}
}

$timing: 0.75s;

html{ min-height:100%; position:relative; }
body{ height:100%; min-height: 100%; margin: 0; padding: 0; overflow-y: scroll; }

.danger { color: $danger }
.purple { color: $purple }
.dark { color: $dark }
.success { color: $success }
.warning { color: $warning }
.red { color: $red }
.yellow { color: $yellow }
.primary { color: $orange2; }
.sm { font-size: 80% }
.pointer { cursor: pointer }

.ex-scale.sm:hover { transform: scale(1.2) }

.ex-spin { animation: spin infinite 1s linear; }
// .ex-spinner { height: 13px; width: 13px; }
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.btn-dark-on-dark { background: lighten($dark, 15); color: $light; border-color: transparent }
.btn-dark-on-dark:hover { background: lighten($dark, 25) }

.toggle { cursor: pointer }

h1, h2, h3 { font-weight: normal; }

input[type="checkbox"] { outline: none }


#app-wrapper {
    & { padding: 20px; transition: background $timing; min-height: 100%;; }
    #main { width: 95%; max-width: 700px; margin: auto; }
}

#footer-bar {
    & { position: relative; max-width: 700px; margin: auto; left: 0; right: 0; text-align: center; padding: 100px 0 }
    a { color: lighten($dark, 30%); }
    a:hover { color: $primary; }
}

#head-top { position: relative; text-align: right; width: 95%; max-width: 700px; margin: auto; }

#theme-toggle {
    & { cursor: pointer };
}

#releases-container {
    & { position: relative; padding: 20px 0; }
    &:before { border-left: 3px solid rgba($dark, 0.05); content: ''; position: absolute; left: 60px; top: 0; bottom: 0; transition: border-left-color $timing }
}

#repo-header {
    & { margin: 50px 0 }
    h1 { border-bottom: 1px solid rgba($dark, 0.05); padding: 10px 0; word-wrap: break-word; transition: all $timing }
}

#repo-illustration {
    & { position: relative; width: 95%; max-width: 250px; text-align: center; margin: 150px auto 50px }
    img { width: 100%; height: auto }
}

.release { margin-bottom: 100px }
.release-title { font-size: 15pt; transition: color $timing }
.release-head { margin-bottom: 20px; color: $dark }
.release-version {
    & { background: $primary; display: inline-block; min-width: 120px; color: $light; padding: 5px 15px; border-radius: 3px; margin-right: 5px; z-index: 1; position: relative }
    
    a { color: $light }
}

.release-note {
    & { margin-bottom: 10px; padding-left: 80px; position: relative; margin-left: 80px; word-wrap: break-word; transition: margin 0.3s }
    &.no-tag { padding-left: 0; }
    .tag { padding: 5px; width: 70px; display: inline-block; color: $light; text-align: center; border-radius: 3px; font-size: 7pt; position: absolute; left: 0; text-transform: uppercase; z-index: 1 }
    .tag b { width: 95%; display: inline-block }
    
    .tag.green { background: $green; color: lighten($green, 40%) }
    .tag.blue { background: $blue; color: lighten($blue, 40%) }
    .tag.lblue { background: lighten($blue, 20%); color: lighten($blue, 45%) }
    .tag.red { background: $red; color: lighten($red, 40%) }
    .tag.gray { background: lighten($dgray, 20%); color: lighten($dark, 30%); }
}

#home-title {
    & { font-size: 14pt; margin-bottom: 20px }
    span { color: $primary }
}

.search-input {
    input { display: block; width: 100%; border-radius: 2px; padding: 10px 20px; border: none; background: lighten($dark, 70%); outline: none; transition: background 0.3s; @include placeholder { color: $dgray; } }
    input:focus { background: $light }
    input:not(:focus) { color: $dark }
}

#app-wrapper.dark {
    & { background: lighten($dark, 10%); color: lighten($dark, 60%) }
    #releases-container:before { border-left-color: lighten($dark, 15%) }
    .release-title { color: lighten($dark, 50%); }
    #repo-header h1 { color: $light; border-bottom-color: lighten($dark, 15%); word-wrap: break-word }
    .release-note .message strong { color: lighten($green, 30%) }
    .release-note .tag.gray { background: lighten($dgray, 30%) }
    a { color: lighten($primary, 10%); }
    
    .search-input input { background: lighten($dark, 20%); }
    .search-input input:focus { color: $dark; background: $light }
    .search-input input:not(:focus) { color: $light }
    #home-title span { color: $light }
    #footer-bar a { color: lighten($dark, 30%); }
}


@media screen and (max-width: 800px) {
    .release-note { margin-left: 30px; }
}
