$dark: #201D22;
$dark: #14171c;
$danger: #FB5044;
$red: #FB5044;
$purple: #6c63ff;
$blue: #19b5fe;
$lblue: #1CA8DD;

$primary: $purple;
$green: #2ec062;
$success: $green;

$yellow: #FCCC33;
$warning: $yellow;

$orange: #ECBD67;
$pink: #D2527F;
$darker: #262626;
$gray: lighten($dark, 20%);
$light: #fff;
$gray: #E8E9EF;
$gray2: #EDF2FA;
$lgray: #FCFCFC;
$fsize: 13px;
$dgray: #757A86;
$lgray2: lighten($dark, 83%);
$orange2: #FA5B35;

$bg1: #FF0058;
$bg2: #3A28C3;
$bg3: #2D66E6;
